body{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    text-align: center;
}

button{
    margin: 5px 0;
    width: 160px;
    height: 60px;
    font-size: 1.1em;
}

#saida{
    line-height: 30px;
    margin: 10px 0;
}

#saida2{
    line-height: 30px;
    font-size: 1.1em
}