@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

main{
    width: 600px;
    height: 400px;
    margin: auto;
    background-color: lightblue;
    text-align: center;
}

#select_box{
    padding: 10px;
    margin: 10px 0;
    font-weight: bold;
}

#botao{
    width: 120px;
    height: 40px;
    font-size: 1.1em;
    background-color: coral;
    color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.322);
}

#botao:hover{
    background-color: rgb(187, 92, 58);
    
}

#saida{
    padding: 10px;
    margin-top: 20px;
    font-size: 1.5em;
}